<h2>List of users</h2>
<!-- property binding and property binding usng ngClass for multiple class bindings -->
<button
  [disabled]="!enabled"
  class="btn btn-block mb-3"
  [ngClass]="currentClasses"
  (click)="
    addUser({
      firstName: 'Many',
      lastName: 'Jackson',
      isActive: true,
      image:'http://lorempixel.com/600/600/people/6'
    })
  "
>
  Add New User
</button>
<ul class="list-unstyled" *ngIf="loaded && users.length > 0; else noUsers">
  <!-- style binding -->
  <li
    class="card card-body mb-2"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
    [style.border-color]="user.isActive ? 'green' : ''"
  >
    <div class="row">
      <div class="col-sm-4">
        ` <img class="img-fluid" [src]="user.image" alt="user-image" />
      </div>
      <div class="col-sm-8">
        <!-- ngStyle -->
        <h3 [ngStyle]="currentStyles">
          <span [textContent]="user.firstName | uppercase"></span>
          {{ user.lastName | lowercase }}
        </h3>

        <ul *ngIf="showExtended && user.age && user.address">
          <li class="list-group-item">Age: {{ user.age }}</li>
          <li class="list-group-item">
            Address: {{ user.address.street }}
            {{ user.address.city }}
            {{ user.address.state }}
          </li>
          <li class="list-group-item">
            Balance : {{ user.balance | currency: "LKR":"symbol" }}
          </li>
          <li class="list-group-item">
            Joined : {{ user.registered | date: "dd/mm/yyyy" }}
          </li>
          <li class="list-group-item" ngNonBindable>
            <pre>{{ 5 | number: "1.2" }}</pre>
          </li>
        </ul>
      </div>
    </div>
    <!-- <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <ul *ngIf="showExtended && user.age && user.address">
      <li class="list-group-item">Age:{{ user.age }}</li>
      <li class="list-group-item">
        Address : {{ user.address.street }} {{ user.address.city }}
        {{ user.address.state }}
      </li>
    </ul> -->
  </li>
</ul>

<ng-template #noUsers>No users founds</ng-template>

<h4 *ngIf="!loaded">Loading users..!</h4>
